# .coveragerc to control coverage.py
[run]
source=dquality
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *test*
exclude_lines =
    def set_default

[html]
directory = coverage_html_report
